<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{{page_title}}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="page">
            <div id="header">{% include 'header.html' %}</div>
            <div id="body">{% block body %}{% endblock %}</div>
            <div id="footer">{% include 'footer.html' %}</div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>