<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Editra</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4gl</string>
				<string>4th</string>
				<string>56k</string>
				<string>68k</string>
				<string>a</string>
				<string>ada</string>
				<string>adb</string>
				<string>ado</string>
				<string>ads</string>
				<string>ai</string>
				<string>as</string>
				<string>asc</string>
				<string>asm</string>
				<string>aux</string>
				<string>axl</string>
				<string>bas</string>
				<string>bat</string>
				<string>boo</string>
				<string>bsh</string>
				<string>c</string>
				<string>c++</string>
				<string>cc</string>
				<string>cfc</string>
				<string>cfg</string>
				<string>cfm</string>
				<string>cfml</string>
				<string>cgi</string>
				<string>cilk</string>
				<string>cilkh</string>
				<string>cl</string>
				<string>cls</string>
				<string>cmd</string>
				<string>cnf</string>
				<string>cobra</string>
				<string>conf</string>
				<string>configure</string>
				<string>cpp</string>
				<string>cs</string>
				<string>csh</string>
				<string>css</string>
				<string>ctl</string>
				<string>cxx</string>
				<string>d</string>
				<string>dbm</string>
				<string>dfm</string>
				<string>diff</string>
				<string>django</string>
				<string>do</string>
				<string>dot</string>
				<string>dpk</string>
				<string>dpr</string>
				<string>dsm</string>
				<string>dtd</string>
				<string>e</string>
				<string>edc</string>
				<string>erl</string>
				<string>ess</string>
				<string>f</string>
				<string>f2k</string>
				<string>f90</string>
				<string>f95</string>
				<string>fe</string>
				<string>for</string>
				<string>fpp</string>
				<string>frm</string>
				<string>fs</string>
				<string>fth</string>
				<string>gasm</string>
				<string>gc</string>
				<string>gemspec</string>
				<string>groovy</string>
				<string>gui</string>
				<string>h</string>
				<string>h++</string>
				<string>hh</string>
				<string>hpp</string>
				<string>hs</string>
				<string>htaccess</string>
				<string>htm</string>
				<string>html</string>
				<string>hx</string>
				<string>hxml</string>
				<string>hxx</string>
				<string>inc</string>
				<string>inf</string>
				<string>ini</string>
				<string>isl</string>
				<string>iss</string>
				<string>itcl</string>
				<string>java</string>
				<string>js</string>
				<string>kix</string>
				<string>ksh</string>
				<string>lisp</string>
				<string>lsp</string>
				<string>lt</string>
				<string>lua</string>
				<string>m</string>
				<string>mak</string>
				<string>makefile</string>
				<string>mako</string>
				<string>mao</string>
				<string>masm</string>
				<string>matlab</string>
				<string>mk</string>
				<string>ml</string>
				<string>mli</string>
				<string>mm</string>
				<string>mssql</string>
				<string>mx</string>
				<string>nasm</string>
				<string>nonmem</string>
				<string>nsh</string>
				<string>nsi</string>
				<string>nut</string>
				<string>oct</string>
				<string>octave</string>
				<string>ooc</string>
				<string>p</string>
				<string>pas</string>
				<string>patch</string>
				<string>php</string>
				<string>php3</string>
				<string>phtm</string>
				<string>phtml</string>
				<string>pike</string>
				<string>pl</string>
				<string>plist</string>
				<string>plsql</string>
				<string>pm</string>
				<string>pod</string>
				<string>pp</string>
				<string>prg</string>
				<string>ps</string>
				<string>py</string>
				<string>python</string>
				<string>pyw</string>
				<string>r</string>
				<string>rake</string>
				<string>rb</string>
				<string>rbw</string>
				<string>rbx</string>
				<string>rdf</string>
				<string>reg</string>
				<string>s</string>
				<string>scm</string>
				<string>seq</string>
				<string>sh</string>
				<string>shtm</string>
				<string>shtml</string>
				<string>smd</string>
				<string>sql</string>
				<string>ss</string>
				<string>st</string>
				<string>sty</string>
				<string>sv</string>
				<string>svg</string>
				<string>svh</string>
				<string>tcl</string>
				<string>tex</string>
				<string>tk</string>
				<string>txt</string>
				<string>url</string>
				<string>v</string>
				<string>vala</string>
				<string>vb</string>
				<string>vbs</string>
				<string>vh</string>
				<string>vhd</string>
				<string>vhdl</string>
				<string>xhtml</string>
				<string>xml</string>
				<string>xrc</string>
				<string>xsd</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>xtext</string>
				<string>xul</string>
				<string>yaml</string>
				<string>yml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>editra_doc.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Editra</string>
	<key>CFBundleGetInfoString</key>
	<string>Editra 0.6.27</string>
	<key>CFBundleIconFile</key>
	<string>Editra.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.editra.Editra</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Editra</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.27</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Cody Precord 2005-2008</string>
</dict>
</plist>
